{# Extend the Default Layout #}
{% extends "layouts/default.njk" %}

{# Import components #}
{# {% from "components/example.njk" import example1, example2 %} Keeping this for reference #}
{% from "components/title.njk" import magName %}
{% from "components/burst.njk" import burst %}
{% from "components/lady.njk" import lady %}
{% from "components/feature.njk" import feature %}

{# Set Page Title #}
{% set title = 'MT::V11' %}

{# Add to head of page #}
{% block head %}
{% endblock %}

{# Actual Page Content #}
{% block body %}
  <div class="container relative min-h-100vh w-100% overflow-hidden" id="primary-container">
    {{ magName( subheader ) }}
    {{ burst('90vw', 'left', '-20vw', 'top', '22vw') }}
    {{ burst('90vw', 'right', '-20vw', 'bottom', '-45vw') }}
    <div
    class="w-100% absolute left-0 bottom-0">
    {{ lady('105vw', '-45vw', '-2vw') }}
    {% for article in articles %}
      {{ feature(article) }}
    {% endfor %}
    </div>
  </div>

{% endblock %}
