{# Extend the Default Layout #}
{% extends "layouts/default.njk" %}

{# Import components #}
{# {% from "components/example.njk" import example1, example2 %} Keeping this for reference #}
{% from "components/title.njk" import magName %}




{# Set Page Title #}
{% set title = 'MT::V11' %}

{# Add to head of page #}
{% block head %}
{% endblock %}

{# Actual Page Content #}
{% block body %}

  {# {{ example1() }} Keeping for reference
  {{ example2() }}
  <p class="{{ textStyles.h1 }}">{{ content.headline }}</p> #}

  <div class="container pr-4% pt-4%">
    {{ magName("I am here") }}
  </div>

{% endblock %}
