{#
 Because I'm making a magazine cover, I though it would make sense to have some
 dummy articles for the featured articles on the cover to lead to.

 That being said, I'm not going to crazy with these. If I were taking them seriously,
 I would have a separate, smaller header. Also, nav bar.

#}

{# Extend the Default Layout #}
{% extends "layouts/default.njk" %}

{# Import components #}
{% from "components/articleTitle.njk" import articleTitle %}
{% from "components/articleText.njk" import articleText %}


{# Set Page Title #}
{% set title = 'MT::V11' %}

{# Add to head of page #}
{% block head %}
{% endblock %}

{# Actual Page Content #}
{% block body %}
  {{ articleTitle( pg10, layout.article ) }}
  {{ articleText( pg10, layout.article ) }}

{% endblock %}
