{#
  displays title for article
#}

{# Extend the Default Layout #}
{% extends "layouts/components.njk" %}

{% macro articleTitle( article ) %}
  <!-- Article Title -->
  <div
  class='mb-2em'>
    <h1
    class='inline-block uppercase text-{{ article.color }}
    font-cap-header text-5em'>
      {{ article.title }}
    </h1><br>
    <h2
    class='inline-block font-content-serif text-white text-3em
    pl-3em'>
      {{ article.tagLine }}
    </h2>
  </div>


{% endmacro %}
