{% extends "layouts/components.njk" %}

{% from "components/feature.njk" import feature %}

{% macro featureBox(w='0vw', x='0vw', y='0vw', features=[]) %}

  <div
  class='absolute z-200'
  style='width:{{ w }}; right:{{ x }}; top:{{ y }};'/>
    {% for f in features %}
      {{ feature(f) }}
    {% endfor %}
  </div>

{% endmacro %}
