{% extends "layouts/components.njk" %}

{% from "components/feature.njk" import feature %}

{% macro featureBox(layout, features=[]) %}

  <div
  class='absolute z-200'
  style='width:{{ layout.width }}; {{ layout.hort }}:{{ layout.x }};
  {{ layout.vert}}:{{ layout.y }};'/>
    {% for f in features %}
      {{ feature(f, layout.feature) }}
    {% endfor %}
  </div>

{% endmacro %}
