{% extends "layouts/components.njk" %}

{% macro feature(article) %}
  <h3
  class='text-white'
  style='text-align: right; margin-bottom: 5.9vw;'>
    <span
    class='fit uppercase text-{{ article.color }} font-cap-header leading-TRENDS'
    data-font='.0395'>
      {{article.title}}
    </span></br>
    <pre
    class='fit font-content-serif leading-subhead'
    data-font='.0245'>
      {{article.tagLine}}
    </pre>
    <span
      class='fit font-header-sans display leading-num'
      data-font='.074'>
      <span
      class='fit leading-normal align-top leading-pg'
      data-font='.04'>
        pg.
      </span>
        {{article.page}}
      </span>
  </h3>

{% endmacro %}
