{#
  Adds in cover art.

  Used img tag instead of logo folder because I was having trouble
  getting the cover art to draw out of frame.
#}

{# Extend the Default Layout #}
{% extends "layouts/components.njk" %}

{% macro lady( layout ) %}
  <!-- Cover Art -->
  <a
  class='z-100 absolute up-slide'
  style="height:{{ layout.height }};
  width: {{layout.width}};
  {{ layout.hort }}:{{ layout.x }};
  {{ layout.vert }}:{{ layout.y }};"
  href='./altPage.html'
  id='coverArt'>
    <img
    src='./images/Trends 2020 Graphics_Cover Art.svg'
    class='h-100% overflow-visible'
    alt='cover art'/>
  </a>

{% endmacro%}
