{# displays thunder tech logo and links to thunder tech's website #}

{# Extend the Default Layout #}
{% extends "layouts/components.njk" %}

{% macro logo(layout) %}
  <!-- logo -->
  <a
  class='inline-block w-30% leading-none absolute left-slide
  z-300'
  style='line-height:{{ layout.lineHeight.logo }}; {{layout.hort}}:{{layout.x}};
  {{layout.vert}}:{{ layout.y }};'
  href='https://www.thundertech.com/'
  alt='Thunder Tech logo'>

    {% include 'icons/thundertech Logotype.svg' %}

  </a>
{% endmacro %}
