/*
  This is a reusable component to include the magazine's name. As there is no reason to
  expect the name to change, I'm not taking any input and making the output static.
*/


{% extends "layouts/components.njk" %}

/*
I'm using absolute positioning here for a couple reasons.
A) Floating and grids are disallowed
B) Both the entire <h1> tag and the and the image within it need
to be tacked to the top right corner.
*/

{% macro magName() %}
  <div
  class='relative mt-tr mr-tr'>
    <h1
    class='absolute top-0 right-0 inline-block z-500 h-container-height'>
      <span
      class='fit inline-block text-white font-header-sans leading-none'
      data-font='.1225'>
        marketing
      </span>
      <span
      class='fit inline-block w-30% leading-none absolute top-0
      right-0'>
        <img
        src='./images/thundertech Logotype.svg'
        class='max-w-100%'/>
      </span><br/>
      <span
      class='fit uppercase text-LadyOrange font-cap-header leading-TRENDS'
      data-font='.28'
      >
        trends
      </span><br/>
    </h1>
  </div>

{% endmacro %}
