/*
  This is a reusable component to include the magazine's name. As there is no reason to
  expect the name to change, I'm not taking any input and making the output static.
*/


{% extends "layouts/components.njk" %}

/*
I'm using absolute positioning here for a couple reasons.
A) Floating and grids are disallowed
B) Both the entire <h1> tag and the and the image within it need
to be tacked to the top right corner.
*/

{% macro magName( subheader, layout ) %}
  <div
  class='absolute inline-block z-100'
  style='top: {{ layout.inset.y }}; right:{{ layout.inset.x }};'>
    <!-- Title -->
    <h1
    class='right-slide'
    role='banner'>
      <span
      class='inline-block text-white font-header-sans'
      style='font-size:{{ layout.fontSize.line1 }}; line-height:{{ layout.lineHeight.line1 }};'>

        marketing
      </span><br/>
      <span
      class='uppercase text-LadyOrange font-cap-header'
      style='font-size:{{ layout.fontSize.line2 }}; line-height:{{ layout.lineHeight.line2 }};'>
        trends
      </span><br/>
    </h1>
    <!-- Subtitle -->
    <h2
    class='font-content-serif text-white text-right left-slide'
    style='font-size:{{ layout.fontSize.line3 }};'
    data-font='{{ layout.fontFactor.line3 }}'>
      {{ subheader.tagLine }} | volume {{subheader.volume}}
    </h2>
  </div>

{% endmacro %}
